 <div class="container mt-5" style="width: 500px;">
 
            <form action="/mailer" method="post" role="form" enctype="application/x-www-form-urlencoded">
               <div class="d-flex justify-content-center mb-3" style="margin-top: 150px;">
                    <h2>Enter Email and Message</h2>
               </div>

                

                <div class="form-group mt-3 ">
                    
                    <input type="text" class="form-control" name="email" id="email" placeholder="Email Address">
                </div>
                 <div class="form-group mt-3">
                    
                    <input type="text" class="form-control" name="message" id="message" placeholder="Type message">
                </div>       
                <div class="mb-3 d-flex justify-content-center">         
                <button type="submit" class="btn btn-primary mt-3" style="width: 100%;" >Send Email</button>
                </div>
            </form>
        </div>